:root {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding-top: 75px;
}

hr {
  border-top: black solid 2px;
}

.form {
  background-color: skyblue;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 10px;
  input, textarea {
    display: block;
    margin: 0.1em;
    width: 94%;
    border-radius: 10px;
    border: none;
    padding: 0.35rem;
  }
  h1 {
    color: white;
    text-align: center;
    margin: 0.25rem 1.5rem;
    font-size: 1.5rem;
  }
  hr {
    border-top: white solid 2px;
  }
  p {
    color: white;
  }
}

details {
  margin: 10px 0;
}

summary {
  font-size: 1.5rem;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%btn {
  text-align: center;
  display: block;
  width: fit-content;
  padding: 0.3rem;
  background-color: steelblue;
  border: 0;
  border-radius: 0.15rem;
  color: white;
  margin: 0.25rem;
  display: inline;
}

%p1 {
  padding: 0.25rem;
}

%nav-text {
  color: white;
  text-decoration: none;
  margin: 0.5rem;
}

.btn {
  @extend %btn;
}
.btn:hover {
  background-color: rgb(80, 148, 204);
}
.btn:disabled {
  background-color: rgb(80, 148, 204);
  opacity: 50%;
}
.btn-warn {
  @extend %btn;
  background-color: rgb(224, 209, 0);
}
.btn-warn:hover {
  background-color: rgb(255, 238, 0);
}
.btn-danger {
  @extend %btn;
  background-color: rgb(218, 0, 0);
}
.btn-danger:hover {
  background-color: rgb(255, 0, 0);
}

.unselectable {
  // pointer-events: none;
  user-select: none;
}

.vignette {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.363);
}

a {
  color: steelblue;
  text-decoration: none;
}
a:hover {
  color: rgb(80, 152, 211);
  text-decoration: underline;
}
nav {
  @extend %p1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 75px;
  background-color: rgb(68, 127, 255);
  .nav-header {
    @extend %nav-text;
    font-size: 2rem;
  }
  
  .nav-header:hover {
    color: whitesmoke;
  }
  
  .nav-item {
    @extend %nav-text;
  }
  
  .nav-item:hover {
    color: whitesmoke;
  }
}


.container {
  margin: 1rem;
  padding: 1rem;
}

.cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, fit-content);
  gap: 10px;
}

.card {
  border: 0.25rem solid black;
  border-radius: 10px;
  padding: 0.5rem;
  h1 {
    margin: 0.1rem;
    font-size: 1.5rem;
  }
}

.btn-group {
  display: flex;
  // height: 30px;
  button {
    padding: 0.1rem, 0.2rem;
    background-color: white;
    border: 1px solid black;
  }
  button:hover {
    background-color: whitesmoke;
  }
  input {
    width: 30px;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}